@model IEnumerable<Notes_MarketPlace.SellerNote>
<div class="table-section">

    <div class="table-heading">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="heading">Published Notes</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 table-search text-right">
            <img class="search-icon" src="~/Content/images/Front/assets/search.jpg" alt="search">
            <input type="text" class="form-control input-search" id="published-search" placeholder="Search">
            <button type="submit" class="btn submit-btn">search</button>
        </div>
    </div>

    <div class="table-responsive-lg" id="table-content">
        <table class="table" id="published">
            <thead>
                <tr>
                    <th>sr no.</th>
                    <th scope="col">Added date</th>
                    <th scope="col">title</th>
                    <th scope="col">category</th>
                    <th scope="col">sell type</th>
                    <th scope="col">price</th>
                    <th scope="col" class="nosort">action</th>
                </tr>
            </thead>
            <tbody>
                @{ int count = 0;}
                @foreach (var note in Model)
                {
                    if (note.SellerID == ViewBag.userid && note.Status == "Published" && note.IsActive == true)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@note.PublishedDate.ToString().Substring(0, 10)</td>
                            <td>@note.Title</td>
                            <td>@note.Category</td>

                            @if (note.IsPaid == false)
                            {
                                <td>Free</td>
                            }
                            else
                            {
                                <td>Paid</td>
                            }

                            <td>@note.SellingPrice</td>
                            <td>
                                <img class="table-eye" src="~/Content/images/Front/assets/eye.png" alt="eye" onclick="location.href='@Url.Action("NotesDetails", "User", new { noteid = note.ID})'">
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Pagination -->
<div class="pagination-area text-center" id="published-pagination">
    @*<ul class="pagination">
        <li class="page-item">
            <span class="page-link" href="#" aria-label="Previous">
                <img src="~/Content/images/Front/assets/left-arrow.png">
            </span>
        </li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <span class="page-link" href="#" aria-label="Next">
                <img src="~/Content/images/Front/assets/right-arrow.png">
            </span>
        </li>
    </ul>*@
</div>

