@model Notes_MarketPlace.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Email Verification</title>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!-- Favicon -->
    <link href="~/Content/images/Front/assets/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!-- fontawesome -->
    @Styles.Render("~/bundles/css")

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/Front/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/Front/responsive.css">
</head>
<body>

    <div id="email-verification">
        <!-- Email Verfication form -->
        <div class="container text-center">
            <div class="row">
                <div class="form-inner">
                    <!-- Logo img -->
                    <div id="top-logo">
                        <div id="top-logo-inner" class="text-left">
                            <a href="@Url.Action("home","User")">
                                <img class="logo" src="~/Content/images/Front/assets/logo-img.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <form method="post">
                        <h2 class="title text-left">Email Verification</h2>
                        <h5 style="color:red; text-align:left;">@ViewBag.Msg</h5>
                        <h5 class="text-left"><span>Dear User,</span></h5>
                        @Html.TextBoxFor(l => l.ID)
                        @Html.TextBoxFor(l => l.EmailID)
                        @Html.TextBoxFor(l => l.RoleID)
                        @Html.TextBoxFor(l => l.IsEmailVerified)
                        <h5 class="text-1 text-left">Thanks for Signing up!<br>Simply click below for email verification.</h5>
                        <button type="submit" class="btn submit-btn">verify email address</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuaery libraries
        <script src="~/Scripts/Front/jquery.min.js"></script>
    Bootstrap JS
    <script src="~/Scripts/Front/Bootstrap/bootstrap.min.js"></script> -->
    @Scripts.Render("~/bundles/js")

    <!-- Custom JS
    <script src="~/Scripts/Front/main.js"></script> -->
    <script src="~/Scripts/Front/main.js"></script>

</body>
</html>
