@model IEnumerable<Notes_MarketPlace.SellerNote>
@{
    ViewBag.Title = "My Rejected Notes";
    ViewBag.MainClass = "rejected-notes";
    ViewBag.MyRejectedNotes = "active-link";
    Layout = "~/Views/Shared/Register.cshtml";
}

<style>
    .dataTables_wrapper .dataTables_length {
        display: none;
    }

    .dataTables_wrapper .dataTables_filter {
        display: none;
    }
</style>


<div id="rejected-notes-inner" class="book-table-data">

    <div class="container">

        <div class="table-section">

            <div class="table-heading">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h3 class="heading">My Rejected Notes</h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 table-search text-right">
                    <img class="search-icon" src="~/Content/images/Front/assets/search.jpg" alt="search">
                    <input type="text" class="form-control input-search" id="rejected-notes-search" placeholder="Search">
                    <button type="submit" class="btn submit-btn">search</button>
                </div>
            </div>

            <div class="table-responsive-lg" id="table-content">
                <table class="table" id="my-rejected-notes">
                    <thead>
                        <tr>
                            <th scope="col">sr no.</th>
                            <th scope="col">note title</th>
                            <th scope="col">category</th>
                            <th scope="col">remarks</th>
                            <th scope="col">clone</th>
                            <th scope="col" class="nosort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{  int count = 0;
                            foreach (var note in Model)
                            {
                                if (note.SellerID == ViewBag.userid && note.Status == "Rejected" && note.IsActive == true)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@Html.ActionLink(note.Title, "NotesDetails", new { noteid = note.ID })</td>
                                        <td>@note.Category</td>
                                        <td>@note.AdminRemarks</td>

                                        <td>@Html.ActionLink("Clone", "CloneNote", new { noteid = note.ID })</td>
                                        <td class="eye-details-icon">
                                            <div class="dropdown" id="row-details-submenu">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img class="row-details-icon" src="~/Content/images/Front/assets/dots.png" alt="details">
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="@Url.Action("DownloadNote", "User", new { noteid = note.ID})">Download Note</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination-area text-center" id="rejected-notes-pagination">
            <!-- Pagination appear here -->
        </div>

    </div>

</div>

