@model IPagedList<Notes_MarketPlace.SellerNote>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Search Notes";
    ViewBag.MainClass = "search-notes";
    ViewBag.SearchNotes = "active-link";
    if (ViewBag.valid == true)
    {
        Layout = "~/Views/Shared/Register.cshtml";
        ViewBag.valid = null;
    }
    else
    {
        Layout = "~/Views/Shared/NonRegister.cshtml";
    }
}


<!-- Top title -->
<div id="top-title">
    <div id="top-title-inner" class="text-center">
        <h1 id="top-title-text">Search Notes</h1>
    </div>
</div>

<!-- Search and filter notes -->
<div id="search-notes-inner">
    <div class="container">
        <h3 class="filter-notes-title">Search and Filter notes</h3>
        <div class="filter-notes">
            <form>

                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input name="search" type="search" class="form-control" id="input-search" value="@Request.QueryString["search"]" placeholder="Search notes here...">
                    <img class="search-icon" src="~/Content/images/Front/assets/search.jpg" alt="search">
                </div>
                </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="NoteType" id="input-type" class="form-control" value="@Request.QueryString["NoteType"]" onchange="submit()">
                        <option value="">Select type</option>
                        @{
                            List<NoteType> noteTypes = ViewBag.NoteTypes;
                            foreach (NoteType item in noteTypes)
                            {
                                if (item.Name != null)
                                    {
                                        if (item.Name.Equals(@Request.QueryString["NoteType"]))
                                        {
                                            <option selected>@item.Name</option>
                                            continue;
                                        }
                                    }
                                <option>@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="NoteCategory" id="input-category" class="form-control" value="@Request.QueryString["NoteCategory"]" onchange="submit()">
                        <option value="">Select category</option>
                        @{
                            List<NoteCategory> categories = ViewBag.Categories;
                            foreach (NoteCategory item in categories)
                            {
                                if (item.Name != null)
                                    {
                                        if (item.Name.Equals(@Request.QueryString["NoteCategory"]))
                                        {
                                            <option selected>@item.Name</option>
                                            continue;
                                        }
                                    }
                                <option>@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    @*<select id="input-university" class="form-control">
                <option selected>Select university</option>
                <option>University of California</option>
                <option>University of Germony</option>
                <option>Oxford University</option>
            </select>*@
                    <select name="university" id="input-university" class="form-control" value="@Request.QueryString["university"]" onchange="submit()">
                        <option value="">Select university</option>
                        @{
                            foreach (var university in ViewBag.UniversityList)
                            {
                                if (university != null)
                                {
                                    if (university.Equals(@Request.QueryString["university"]))
                                    {
                                        <option selected>@university</option>
                                        continue;
                                    }
                                }
                                <option>@university</option>
                            }
                        }
                    </select>

                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    @*<select id="input-course" class="form-control">
                            <option selected>Select course</option>
                            <option>Computer Science</option>
                            <option>Electrical</option>
                            <option>Mechanical</option>
                        </select>*@
                    @*@Html.DropDownList("Course Name", ViewBag.CourseList as SelectList, "Select course", new { @class = "form-control" })*@

                    <select name="course" id="input-course" class="form-control" value="@Request.QueryString["course"]" onchange="submit()">
                        <option value="">Select course</option>
                        @{
                            foreach (var course in ViewBag.CourseList)
                            {
                                if (course != null)
                                {
                                    if (course.Equals(@Request.QueryString["course"]))
                                    {
                                        <option selected>@course</option>
                                        continue;
                                    }
                                }
                                <option>@course</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="country" id="input-country" class="form-control" value="@Request.QueryString["country"]" onchange="submit()">
                        <option value="">Select country</option>
                        @{
                            List<Country> countries = ViewBag.Countries;
                            foreach (Country item2 in countries)
                            {
                                if (item2.Name != null)
                                    {
                                        if (item2.Name.Equals(@Request.QueryString["country"]))
                                        {
                                            <option selected>@item2.Name</option>
                                            continue;
                                        }
                                    }
                                <option>@item2.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select class="form-control" id="Rating" name="rating" value="@Request.QueryString["rating"]" onchange="submit()">
                        <option value="">Select rating</option>
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (@Request.QueryString["rating"] != null)
                            {
                                if (@Request.QueryString["rating"].Equals(i.ToString()))
                                {
                                    <option selected value="@i">@i</option>
                                    continue;
                                }
                            }

                            <option value="@i">@i</option>
                        }
                    </select>
                    @*@Html.DropDownList("Rating", new List<SelectListItem> {
                            new SelectListItem {Text="5", Value="5"},
                            new SelectListItem {Text="4", Value="4"},
                            new SelectListItem {Text="3", Value="3"},
                            new SelectListItem {Text="2", Value="2"},
                            new SelectListItem {Text="1", Value="1"}
                        }, "Select rating", new { @class = "form-control" })*@
                </div>
            </div>

            </form>
            
        </div>
    </div>

    <div class="container notes-list">
        <h3 class="no-of-books">Total @ViewBag.ResultNotes notes</h3>
        <div class="row">

            @{
                int j = 0;
                foreach (var item in Model)
                {
                    j++;
                    <!-- Book @j -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="book-details">
                            <a href="@Url.Action("NotesDetails","User", new { noteid = item.ID })"><img class="book-cover img-responsive" src="~/Content/images/Front/Search/1.jpg" alt="book-cover"></a>
                            <h4 class="book-title">@item.Title</h4>
                            <div class="row book-info">
                                <div class="col-md-2 col-sm-2 col-xs-3">
                                    <img class="book-info-icon" src="~/Content/images/Front/assets/university.png" alt="university">
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-9">
                                    <h5 class="book-info-text">@item.UniversityName, @item.Country</h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-3">
                                    <img class="book-info-icon" src="~/Content/images/Front/assets/pages.png" alt="pages">
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-9">
                                    <h5 class="book-info-text">@item.NumberofPages Pages</h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-3">
                                    <img class="book-info-icon" src="~/Content/images/Front/assets/calendar.png" alt="date">
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-9">
                                    <h5 class="book-info-text">@item.PublishedDate.ToString().Substring(0, 10)</h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-3">
                                    <img class="book-info-icon" src="~/Content/images/Front/assets/flag.png" alt="flag">
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-9">
                                    <h5 class="book-info-text red-text">@item.SellerNotesReportedIssues.Count() Users marked this note as inappropriate</h5>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 book-rating">
                                    @{
                                        float rate = 0, sum = 0;
                                        foreach (SellerNotesReview review in ViewBag.Reviews)
                                        {
                                            if (review.NoteID == item.ID)
                                            {
                                                sum += int.Parse(review.Ratings.ToString());
                                            }
                                        }
                                        if (item.SellerNotesReviews.Count() != 0)
                                        {
                                            rate = Convert.ToInt32(sum / item.SellerNotesReviews.Count());
                                        }
                                        else
                                        {
                                            rate = 0;
                                        }


                                        <div class="rate">
                                            @for (int k = 1; k <= 5; k++)
                                            {
                                                if (rate != 0)
                                                {
                                                    rate--;
                                                    <input type="radio" id="star@k" name="rate" />
                                                    <label for="star @k" title="@k star" style="color:#ffc700; margin-right:-3px;">@k star</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" id="star@k" name="rate" style="color:#d1d1d1;" />
                                                    <label for="star @k" title="@k star" style="margin-right:-3px;">@k star</label>
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <h5 class="book-rating-text">@item.SellerNotesReviews.Count() Reviews</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                if (j == 0)
                {
                    <h5 style="margin-left: 15px;">No books available</h5>
                }
            }

        </div>

    </div>

    <section id="pagination">
        @Html.PagedListPager(Model, i => Url.Action("SearchNotes", "User", new { i, search = Request.QueryString["search"], NoteType = Request.QueryString["NoteType"], NoteCategory = Request.QueryString["NoteCategory"], university = Request.QueryString["university"], course = Request.QueryString["course"], country = Request.QueryString["country"], rating = Request.QueryString["rating"] }), new PagedList.Mvc.PagedListRenderOptions
        {
           ContainerDivClasses = null,
           LiElementClasses = new string[] { "page-item1" },
           UlElementClasses = new string[] { "pagination justify-content-center" },
           LinkToNextPageFormat = "<img src='../../Content/images/Front/assets/right-arrow.png' alt=''>",
           LinkToPreviousPageFormat = "<img src='../../Content/images/Front/assets/left-arrow.png' alt=''>",
           MaximumPageNumbersToDisplay = 5,
           DisplayEllipsesWhenNotShowingAllPageNumbers = false,
           DisplayLinkToFirstPage = PagedListDisplayMode.Never,
           DisplayLinkToLastPage = PagedListDisplayMode.Never

        })
    </section>

</div>
