@model IPagedList<Notes_MarketPlace.SellerNote>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Search Notes";
    ViewBag.MainClass = "search-notes";
    ViewBag.SearchNotes = "active-link";
    if (ViewBag.valid == true)
    {
        Layout = "~/Views/Shared/Register.cshtml";
        ViewBag.valid = null;
    }
    else
    {
        Layout = "~/Views/Shared/NonRegister.cshtml";
    }
}

<!-- Top title -->
<div id="top-title">
    <div id="top-title-inner" class="text-center">
        <h1 id="top-title-text">Search Notes</h1>
    </div>
</div>

<!-- Search and filter notes -->
<div id="search-notes-inner">
    <div class="container">
        <h3 class="filter-notes-title">Search and Filter notes</h3>
        <div class="filter-notes">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" class="form-control" id="input-search" placeholder="Search notes here...">
                    <img class="search-icon" src="~/Content/images/Front/assets/search.jpg" alt="search">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select id="input-type" class="form-control">
                        <option selected>Select type</option>
                        @{
                            List<NoteType> noteTypes = ViewBag.NoteTypes;
                            foreach (NoteType item in noteTypes)
                            {
                                @*if (item.Name != null)
                                    {
                                        if (item.Name.Equals(Model.NoteType))
                                        {
                                            <option selected>@item.Name</option>
                                            continue;
                                        }
                                    }*@
                                <option>@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select id="input-category" class="form-control">
                        <option selected>Select category</option>
                        @{
                            List<NoteCategory> categories = ViewBag.Categories;
                            foreach (NoteCategory item in categories)
                            {
                                @*if (item.Name != null)
                                    {
                                        if (item.Name.Equals(Model.Category))
                                        {
                                            <option selected>@item.Name</option>
                                            continue;
                                        }
                                    }*@
                                <option>@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    @*<select id="input-university" class="form-control">
                <option selected>Select university</option>
                <option>University of California</option>
                <option>University of Germony</option>
                <option>Oxford University</option>
            </select>*@
                    <select id="input-university" class="form-control">
                        <option selected>Select university</option>
                        @{
                            foreach (var university in ViewBag.UniversityList)
                            {
                                <option>@university</option>
                            }
                        }
                    </select>

                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    @*<select id="input-course" class="form-control">
                            <option selected>Select course</option>
                            <option>Computer Science</option>
                            <option>Electrical</option>
                            <option>Mechanical</option>
                        </select>*@
                    @*@Html.DropDownList("Course Name", ViewBag.CourseList as SelectList, "Select course", new { @class = "form-control" })*@

                    <select id="input-course" class="form-control">
                        <option selected>Select course</option>
                        @{
                            foreach (var course in ViewBag.CourseList)
                            {
                                <option>@course</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select id="input-country" class="form-control">
                        <option selected>Select country</option>
                        @{
                            List<Country> countries = ViewBag.Countries;
                            foreach (Country item2 in countries)
                            {
                                @*if (item2.Name != null)
                                    {
                                        if (item2.Name.Equals(Model.Country))
                                        {
                                            <option selected>@item2.Name</option>
                                            continue;
                                        }
                                    }*@
                                <option>@item2.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    @*<select id="input-rating" class="form-control">
                            <option selected>Select rating</option>
                            <option>5</option>
                            <option>4</option>
                            <option>3</option>
                            <option>2</option>
                            <option>1</option>
                        </select>*@
                    @Html.DropDownList("Rating", new List<SelectListItem> {
                            new SelectListItem {Text="5", Value="5"},
                            new SelectListItem {Text="4", Value="4"},
                            new SelectListItem {Text="3", Value="3"},
                            new SelectListItem {Text="2", Value="2"},
                            new SelectListItem {Text="1", Value="1"}
                        }, "Select rating", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    @{
        int count = 0;
        foreach (var list in Model)
        {
            if (list.Status == "Published" && list.IsActive == true)
            {
                count++;
            }
        }
    }

    <div class="container notes-list">
        <h3 class="no-of-books">Total @ViewBag.ResultNotes notes</h3>
        <div class="row">

            @{
                int j = 0;
                foreach (var item in Model)
                {
                    if (item.Status == "Published" && item.IsActive == true)
                    {
                        j++;
                        <!-- Book @j -->
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="book-details">
                                <a href="@Url.Action("NotesDetails","User", new { noteid = item.ID })"><img class="book-cover img-responsive" src="~/Content/images/Front/Search/1.jpg" alt="book-cover"></a>
                                <h4 class="book-title">@item.Title</h4>
                                <div class="row book-info">
                                    <div class="col-md-2 col-sm-2 col-xs-3">
                                        <img class="book-info-icon" src="~/Content/images/Front/assets/university.png" alt="university">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-9">
                                        <h5 class="book-info-text">@item.UniversityName</h5>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-3">
                                        <img class="book-info-icon" src="~/Content/images/Front/assets/pages.png" alt="pages">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-9">
                                        <h5 class="book-info-text">@item.NumberofPages Pages</h5>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-3">
                                        <img class="book-info-icon" src="~/Content/images/Front/assets/calendar.png" alt="date">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-9">
                                        <h5 class="book-info-text">@item.PublishedDate.ToString().Substring(0, 10)</h5>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-3">
                                        <img class="book-info-icon" src="~/Content/images/Front/assets/flag.png" alt="flag">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-9">
                                        <h5 class="book-info-text red-text">@item.SellerNotesReportedIssues.Count() Users marked this note as inappropriate</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 book-rating">
                                        @{
                                            float rate = 0, sum = 0;
                                            foreach (SellerNotesReview review in ViewBag.Reviews)
                                            {
                                                if (review.NoteID == item.ID)
                                                {
                                                    sum += int.Parse(review.Ratings.ToString());
                                                }
                                            }
                                            if (item.SellerNotesReviews.Count() != 0)
                                            {
                                                rate = Convert.ToInt32(sum / item.SellerNotesReviews.Count());
                                            }
                                            else
                                            {
                                                rate = 0;
                                            }


                                            <div class="rate">
                                                @for (int k = 1; k <= 5; k++)
                                                {
                                                    if (rate != 0)
                                                    {
                                                        rate--;
                                                        <input type="radio" id="star @k" name="rate" />
                                                        <label for="star @k" title="@k star" style="color:#ffc700; margin-right:-3px;">@k star</label>
                                                    }
                                                    else
                                                    {
                                                        <input type="radio" id="star @k" name="rate" style="color:#d1d1d1;" />
                                                        <label for="star @k" title="@k star" style="margin-right:-3px;">@k star</label>
                                                    }
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <h5 class="book-rating-text">@item.SellerNotesReviews.Count() Reviews</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>

    </div>

    <!-- Pagination -->
    @*<div class="pagination-area text-center">
            <ul class="pagination">
                <li class="page-item">
                    <span class="page-link" href="#" aria-label="Previous">
                        <img src="~/Content/images/Front/assets/left-arrow.png">
                    </span>
                </li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <span class="page-link" href="#" aria-label="Next">
                        <img src="~/Content/images/Front/assets/right-arrow.png">
                    </span>
                </li>
            </ul>
        </div>*@
    <section id="pagination">
        @Html.PagedListPager(Model, i => Url.Action("SearchNotes", "User", new { i, search = Request.QueryString["search"] }), new PagedList.Mvc.PagedListRenderOptions
        {
           ContainerDivClasses = null,
           LiElementClasses = new string[] { "page-item1" },
           UlElementClasses = new string[] { "pagination justify-content-center" },
           LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
           LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
           MaximumPageNumbersToDisplay = 5,
           DisplayEllipsesWhenNotShowingAllPageNumbers = false,
           DisplayLinkToFirstPage = PagedListDisplayMode.Never,
           DisplayLinkToLastPage = PagedListDisplayMode.Never

        })
    </section>

</div>
