@model Notes_MarketPlace.UserProfile
@{
    ViewBag.Title = "User Profile";
    ViewBag.MainClass = "user-profile";
    ViewBag.MyProfile = "active-link";
    Layout = "~/Views/Shared/Register.cshtml";
}

<!-- Top profile title -->
<div id="top-title">
    <div id="top-title-inner" class="text-center">
        <h1 id="top-title-text">User Profile</h1>
    </div>
</div>
<!-- Profile form -->
<div class="container form-details">
    <div class="form-inner">
        <form enctype="multipart/form-data" method="post">

            <!-- Basic Profile Details -->
            <div class="row">
                <h2 class="title text-left">Basic Profile Details</h2>
                @Html.HiddenFor(l => l.ID)
                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="input-first-name">First Name *</label>
                    @Html.TextBoxFor(l => l.FirstName, new { @placeholder = "Enter your first name", @class = "form-control" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="input-last-name">Last Name *</label>
                    @Html.TextBoxFor(l => l.LastName, new { @placeholder = "Enter your last name", @class = "form-control" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="input-email">Email *</label>
                    @Html.TextBoxFor(l => l.EmailID, new { @placeholder = "Enter your email", @class = "form-control", @type = "email" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="input-date-of-birth">Date Of Birth</label>
                    @Html.TextBoxFor(l => l.DOB, new { @placeholder = "Enter your date of birth", @class = "form-control", @onfocus = "(this.type = 'date')" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="input-gender">Gender</label>
                    @*<select id="input-gender" class="form-control" placeholder="Enter your gender">
                        <option hidden>Select your gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Transgender</option>
                    </select>*@
                    @Html.DropDownListFor(l => l.Gender, new List<SelectListItem> {
                            new SelectListItem {Text="Male", Value="1"},
                            new SelectListItem {Text="Female", Value="2"},
                            new SelectListItem {Text="Transgender", Value="3"}
                        }, "Select your gender", new { @class = "form-control" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="input-phone-number">Phone Number</label>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            @*<select id="input-country-code" class="form-control" placeholder="Country code">
                                <option selected>+91</option>
                                <option>+1</option>
                                <option>+49</option>
                            </select>*@
                            <select name="Phone_number___Country_Code" class="form-control">
                                @{
                                    //var countrycodelist = viewbag.countrycode as ienumerable<notes_marketplace.country>;
                                    List<Country> countries = ViewBag.Country;

                                    foreach (Country item in countries)
                                    {
                                        if (item.IsActive == true)
                                        {
                                            if (item.CountryCode != null)
                                            {
                                                if (item.CountryCode.Equals(Model.Phone_number___Country_Code))
                                                {
                                                <option selected>@item.CountryCode</option>
                                                    continue;
                                                }
                                            }
                                            <option>@item.CountryCode</option>
                                        }
                                    }
                                }
                                
                            </select>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            @Html.TextBoxFor(l => l.Phone_number, new { @placeholder = "Enter your phone number", @class = "form-control", @pattern = "[0-9]{10}", @type = "tel" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="input-profile-picture">Profile Picture</label>
                    @*<div type=file id="input-profile-picture" class="form-control upload-picture">
                        <img src="~/Content/images/Front/assets/upload.png" id="profile-picture" alt="Upload Profile Picture">
                        <h5>Upload a picture</h5>
                    </div>*@
                    @if(Model.Profile_Picture != null)
                    { 
                        @Html.HiddenFor(l => l.Profile_Picture)
                    }
                    @Html.TextBoxFor(l => l.ProfilePictureFile, new { @type = "file", @class = "form-control upload-picture" })
                    <h5 style="color:red; text-align:left;">@ViewBag.ErrorMsg</h5>
                </div>
            </div>

            <!-- Address Details -->
            <div class="row">
                <h2 class="title text-left">Address Details</h2>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="input-address-1">Address Line 1 *</label>
                    @Html.TextBoxFor(l => l.Address_Line_1, new { @placeholder = "Enter your address", @class = "form-control" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="input-address-2">Address Line 2</label>
                    @Html.TextBoxFor(l => l.Address_Line_2, new { @placeholder = "Enter your address", @class = "form-control" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="input-city">City *</label>
                    @Html.TextBoxFor(l => l.City, new { @placeholder = "Enter your city", @class = "form-control" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="input-state">State *</label>
                    @Html.TextBoxFor(l => l.State, new { @placeholder = "Enter your state", @class = "form-control" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="input-zipcode">ZipCode *</label>
                    @Html.TextBoxFor(l => l.Zip_Code, new { @placeholder = "Enter your zipcode", @class = "form-control", @pattern = "[0-9]{6}" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="input-country">Country *</label>
                    <select name="Country" id="input-country" class="form-control" placeholder="Select your country" required>
                        <option hidden>Select your country</option>
                        @foreach (Country item2 in countries)
                        {
                            if (item2.IsActive == true)
                            {
                                if (item2.Name != null)
                                {
                                    if (item2.Name.Equals(Model.Country))
                                    {
                                        <option selected>@item2.Name</option>
                                        continue;
                                    }
                                }
                                <option>@item2.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <!-- University and College Information -->
            <div class="row">
                <h2 class="title text-left">University and College Information</h2>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="input-university">University</label>
                    @Html.TextBoxFor(l => l.University, new { @placeholder = "Enter your university", @class = "form-control" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="input-college">College</label>
                    @Html.TextBoxFor(l => l.College, new { @placeholder = "Enter your college", @class = "form-control" })
                </div>
                <button type="submit" class="btn submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>
