@model Notes_MarketPlace.AdminProfile
@{
    ViewBag.Title = "Add Administrator";
    ViewBag.MainClass = "add-administrator";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<!-- Add Administrator form -->
<div class="profile-admin-etc-inner">
    <div class="container form-details">
        <div class="form-inner">

            <!-- Basic Profile Details -->
            <div class="row">
                <form method="post">

                    <h2 class="title text-left">Add Administrator</h2>
                    @Html.HiddenFor(l => l.Id)
                    @Html.HiddenFor(l => l.AdminID)
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-first-name">First Name *</label>
                            @Html.TextBoxFor(l => l.User.FirstName, new { @placeholder = "Enter your first name", @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-last-name">Last Name *</label>
                            @Html.TextBoxFor(l => l.User.LastName, new { @placeholder = "Enter your last name", @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-email">Email *</label>
                            @Html.TextBoxFor(l => l.User.EmailID, new { @placeholder = "Enter your email", @class = "form-control", @type = "email" })
                            <h5 style="color:red;">@ViewBag.DuplicateMsg</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-phone-number">Phone Number</label>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <select name="Phone_number_country_code" class="form-control">
                                        @{
                                            List<Country> countries = ViewBag.Country;

                                            foreach (Country item in countries)
                                            {
                                                if (item.CountryCode != null && Model.Phone_number_country_code != null)
                                                {
                                                    if (item.CountryCode.Equals(Model.Phone_number_country_code))
                                                    {
                                                        <option selected>@item.CountryCode</option>
                                                        continue;
                                                    }
                                                }
                                                <option>@item.CountryCode</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    @Html.TextBoxFor(l => l.phone_number, new { @placeholder = "Enter your phone number", @class = "form-control", @pattern = "[0-9]{10}", @type = "tel" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn submit-btn">Submit</button>
                </form>
            </div>


        </div>
    </div>
</div>

