@model Notes_MarketPlace.NoteCategory
@{
    ViewBag.Title = "Add Category";
    ViewBag.MainClass = "add-category";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<!-- Add Administrator form -->
<div class="profile-admin-etc-inner">
    <div class="container form-details">
        <div class="form-inner">


            <!-- Basic Profile Details -->
            <div class="row">
                <form method="post">

                    <h2 class="title text-left">Add Category</h2>
                    @Html.HiddenFor(l => l.ID)
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-category">Category Name *</label>
                            @Html.TextBoxFor(l => l.Name, new { @placeholder = "Enter your category name", @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-description">Description *</label>
                            @Html.TextAreaFor(l => l.Description, new { @placeholder = "Enter your description", @class = "form-control", @id = "input-description", @rows = "10" })
                        </div>
                    </div>
                    @Html.HiddenFor(l => l.IsActive)
                    @Html.HiddenFor(l => l.CreatedDate)
                    @Html.HiddenFor(l => l.CreatedBy)
                    <button type="submit" class="btn submit-btn">Submit</button>
                </form>
            </div>


        </div>
    </div>
</div>
