@model IEnumerable<Notes_MarketPlace.Download>
@{
    ViewBag.Title = "Downloaded Notes";
    ViewBag.MainClass = "downloaded-notes";
    ViewBag.DownloadedNotes = "active-link";
    ViewBag.Notes = "active-link";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}


<div id="downloaded-notes-inner" class="publish-reject-download">

    <div class="container">

        <div class="row">

            <div class="heading-section">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="heading">Downloaded Notes</h2>
                </div>
            </div>

        </div>

        <div class="table-section">
            <form>

                <div class="table-heading">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 search-dropdown notes-search">
                            <h5 class="note-label">Note</h5>
                            <select name="notetitle" id="input-note" class="form-control" value="@Request.QueryString["notetitle"]" onchange="submit()">
                                <option value="">Select note</option>
                                @foreach (var item in ViewBag.NoteTitles)
                                {
                                    if (item != null)
                                    {
                                        if (item.Equals(@Request.QueryString["notetitle"]))
                                        {
                                            <option selected>@item</option>
                                            continue;
                                        }
                                    }
                                    <option>@item</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 search-dropdown">
                            <h5 class="seller-label">Seller</h5>
                            <select name="seller" id="input-seller" class="form-control" value="@Request.QueryString["seller"]" onchange="submit()">
                                <option value="">Select seller</option>
                                @foreach (var item1 in ViewBag.Sellers)
                                {
                                    if (item1 != null)
                                    {
                                        if (item1.Equals(@Request.QueryString["seller"]))
                                        {
                                            <option selected>@item1</option>
                                            continue;
                                        }
                                    }
                                    <option>@item1</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 search-dropdown buyer-search">
                            <h5 class="buyer-label">Buyer</h5>
                            <select name="buyer" id="input-buyer" class="form-control" value="@Request.QueryString["buyer"]" onchange="submit()">
                                <option value="">Select buyer</option>
                                @foreach (var item2 in ViewBag.Buyers)
                                {
                                    if (item2 != null)
                                    {
                                        if (item2.Equals(@Request.QueryString["buyer"]))
                                        {
                                            <option selected>@item2</option>
                                            continue;
                                        }
                                    }
                                    <option>@item2</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 table-search text-right">
                        <img class="search-icon" src="~/Content/images/Admin/assets/search.jpg" alt="search">
                        <input type="text" class="form-control input-search" id="downloaded-search" placeholder="Search">
                        <button type="submit" class="btn submit-btn">search</button>
                    </div>
                </div>

            </form>
            

            <div class="table-responsive-lg" id="table-content">
                <table class="table" id="downloaded-notes-table">
                    <thead>
                        <tr>
                            <th scope="col">sr no.</th>
                            <th scope="col">note title</th>
                            <th scope="col">category</th>
                            <th scope="col">buyer</th>
                            <th scope="col" class="nosort"></th>
                            <th scope="col">seller</th>
                            <th scope="col" class="nosort"></th>
                            <th scope="col">sell type</th>
                            <th scope="col">price</th>
                            <th scope="col">downloaded<br>date/time</th>
                            <th scope="col" class="nosort"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ int count = 0;
                            foreach (var dwn in Model)
                            {
                                if (dwn.IsSellerHasAllowedDownload == true)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@Html.ActionLink(dwn.NoteTitle, "NotesDetails", "Admin", new { noteid = dwn.NoteID }, null)</td>
                                        <td>@dwn.NoteCategory</td>
                                        <td>@dwn.User1.FirstName @dwn.User1.LastName</td>
                                        <td>
                                            <img class="table-eye" src="~/Content/images/Admin/assets/eye.png" alt="show" onclick="location.href='@Url.Action("MemberDetails", "Admin", new { memberid = dwn.User1.ID})'">
                                        </td>
                                        <td>@dwn.User.FirstName @dwn.User.LastName</td>
                                        <td>
                                            <img class="table-eye" src="~/Content/images/Admin/assets/eye.png" alt="show" onclick="location.href='@Url.Action("MemberDetails", "Admin", new { memberid = dwn.User.ID})'">
                                        </td>

                                        @if (dwn.IsPaid == false)
                                        {
                                            <td>Free</td>
                                        }
                                        else
                                        {
                                            <td>Paid</td>
                                        }

                                        <td>@dwn.PurchasedPrice</td>
                                        <td>@dwn.AttachmentDownloadedDate.ToString().Substring(0, 16)</td>

                                        <td>
                                            <div class="dropdown" id="row-details-submenu">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img class="row-details-icon" src="~/Content/images/Admin/assets/dots.png" alt="details">
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="@Url.Action("DownloadNote", "User", new { noteid = dwn.NoteID})">Download Notes</a>
                                                    <a class="dropdown-item" href="@Url.Action("NotesDetails", "Admin", new { noteid = dwn.NoteID})">View More Details</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Pagination -->
        <div class="pagination-area text-center" id="downloaded-pagination">
            <!-- Pagination appear here -->
        </div>

    </div>

</div>

