@model Notes_MarketPlace.SellerNote
@{
    ViewBag.Title = "Notes Details";
    ViewBag.MainClass = "notes-details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- Notes Details -->
<div id="notes-details-inner">
    <div class="container">
        <h3 class="notes-details-title">Notes Details</h3>
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12 notes-details-left">

                <div class="col-md-6 col-sm-5 col-xs-12 book-cover-section">
                    <img class="book-cover img-responsive" src="@Model.DisplayPicture" alt="book-cover">
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                    <h2 class="note-title">@Model.Title</h2>
                    <h5 class="note-type">@Model.NoteType</h5>
                    <p class="note-details-text">@Model.Description</p>

                    <!-- Button trigger modal -->
                    <button type="submit" class="btn submit-btn" data-toggle="modal" data-target="#exampleModal" onclick="location.href='@Url.Action("DownloadNote", "User", new { noteid = @Model.ID })'">
                        @if (Model.IsPaid == true)
                        {
                            <span>Download / $@Model.SellingPrice</span>
                        }
                        else
                        {
                            <span>Download</span>
                        }
                    </button>

                    <h5 style="color:red; text-align:left;">@ViewBag.ErrorMsg</h5>
                    <h5 style="color:darkgreen; text-align:left;">@ViewBag.RequestMsg</h5>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="close-popup">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="success-image-section text-center">
                                        <img class="success-image" src="~/Content/images/Front/Notes-details/SUCCESS.png" alt="success">
                                    </div>
                                    <h2 class="popup-success text-center">Thank you for purchasing!</h2>
                                    <h5 class="popup-text-01">Dear Smith,</h5>
                                    <h5 class="popup-text-02">
                                        As this is paid notes - you need to pay to Rahil Shah offline. We will send him an email that you want to download this note. He may contact you further for payment process completion.<br>
                                        <br>
                                        In case, you have urgency,<br>
                                        Please contact us on +9195377345959.<br>
                                        <br>
                                        Once he will receives the payment and acknowledge us - selected notes you can see over my downloads tab for download.<br>
                                        <br>
                                        Have a good day.
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 notes-details-right">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-left">
                        <h5 class="book-info-caption">Institution:</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-right">
                        <h5 class="book-info-text">@Model.UniversityName</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-left">
                        <h5 class="book-info-caption">Country:</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-right">
                        <h5 class="book-info-text">@Model.Country</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-left">
                        <h5 class="book-info-caption">Course Name:</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-right">
                        <h5 class="book-info-text">@Model.Course</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-left">
                        <h5 class="book-info-caption">Country Code:</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-right">
                        <h5 class="book-info-text">@Model.CourseCode</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-left">
                        <h5 class="book-info-caption">Professor:</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-right">
                        <h5 class="book-info-text">@Model.Professor</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-left">
                        <h5 class="book-info-caption">Number of Pages:</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-right">
                        <h5 class="book-info-text">@Model.NumberofPages</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-left">
                        <h5 class="book-info-caption">Approved Date:</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-right">
                        @if (Model.PublishedDate != null)
                        {
                            <h5 class="book-info-text">@Model.PublishedDate.ToString().Substring(0, 10)</h5>
                        }
                        else
                        {
                            <h5 class="book-info-text">Not Approved</h5>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-left">
                        <h5 class="book-info-caption">Rating:</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 notes-info-right">

                        @{
                            float rate = 0, sum = 0;
                            foreach (SellerNotesReview item in ViewBag.Reviews)
                            {
                                if (item.NoteID == Model.ID)
                                {
                                    sum += int.Parse(item.Ratings.ToString());
                                }
                            }
                            if (@Model.SellerNotesReviews.Count() != 0)
                            {
                                rate = Convert.ToInt32(sum / @Model.SellerNotesReviews.Count());
                            }
                            else
                            {
                                rate = 0;
                            }


                            <div class="rate">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (rate != 0)
                                    {
                                        rate--;
                                        <input type="radio" id="star @i" name="rate" />
                                        <label for="star @i" title="@i star" style="color:#ffc700; margin-right:-3px;">@i star</label>
                                    }
                                    else
                                    {
                                        <input type="radio" id="star @i" name="rate" style="color:#d1d1d1;" />
                                        <label for="star @i" title="@i star" style="margin-right:-3px;">@i star</label>
                                    }
                                }
                            </div>

                            <h5 class="book-rating-text">@Model.SellerNotesReviews.Count() Reviews</h5>
                        }
                    </div>
                </div>
                <h5 class="col-md-12 col-sm-12 col-xs-12 info-red-text">@Model.SellerNotesReportedIssues.Count() Users marked this note as inappropriate</h5>
            </div>
        </div>
        <hr class="p1-line-p2">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 notes-preview">
                <h3 class="notes-details-title">Notes Preview</h3>
                <iframe src="@Model.NotesPreview"></iframe>
            </div>

            <div class="col-md-7 col-sm-12 col-xs-12 customer-review">
                <h3 class="notes-details-title">Customer Reviews</h3>
                <div class="customer-review-inner">

                    @{
                        var count = 0;
                        foreach (SellerNotesReview item in ViewBag.Reviews)
                        {
                            if (count != 3 && item.NoteID == Model.ID && item.IsActive == true)
                            {
                                <div class="row review">
                                    <div class="col-md-2 col-sm-2 col-xs-3">
                                        @{ bool IsValid = false; }
                                        @foreach (UserProfile profile in ViewBag.UserProfile)
                                        {
                                            if (profile.UserID == item.ReviewedByID)
                                            {
                                                IsValid = true;
                                                <img class="customer-photo img-circle" src="@profile.Profile_Picture" alt="customer">
                                            }
                                        }
                                        @if (IsValid == false)
                                        {
                                            <img class="customer-photo img-circle" src="~/Content/images/Front/Notes-details/reviewer-1.png" alt="customer">
                                        }

                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-9">
                                        <h3 class="customer-name">@item.User.FirstName @item.User.LastName</h3>
                                        @{int rating = int.Parse(item.Ratings.ToString()); }
                                        <div class="rate">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (rating != 0)
                                                {
                                                    rating--;
                                                    <input type="radio" id="star @i" name="rate" />
                                                    <label for="star @i" title="@i star" style="color:#ffc700; margin-right:-3px;">@i star</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" id="star @i" name="rate" style="color:#d1d1d1;" />
                                                    <label for="star @i" title="@i star">@i star</label>
                                                }
                                            }
                                        </div>
                                        <p class="customer-text"><br><br>@item.Comments</p>
                                    </div>
                                </div>
                                if (count != 2)
                                {
                                    <hr />
                                }
                                count++;
                            }
                        }
                        if (count == 0)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="customer-name">No reviews</h5>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
