@model Notes_MarketPlace.UserProfile
@{
    ViewBag.Title = "My Profile";
    ViewBag.MainClass = "my-profile";
    ViewBag.UpdateProfile = "active-link";
    ViewBag.MyProfile = "active-link";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<!-- Profile form -->
<div class="profile-admin-etc-inner form-details">
    <div class="container">
        <div class="form-inner">


            <!-- Basic Profile Details -->
            <div class="row">
                <form enctype="multipart/form-data" method="post">

                    <h2 class="title text-left">My Profile</h2>
                    @Html.HiddenFor(l => l.ID)
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                            <label for="input-first-name">First Name *</label>
                            @Html.TextBoxFor(l => l.FirstName, new { @placeholder = "Enter your first name", @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                            <label for="input-last-name">Last Name *</label>
                            @Html.TextBoxFor(l => l.LastName, new { @placeholder = "Enter your last name", @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-email">Email *</label>
                            @Html.TextBoxFor(l => l.EmailID, new { @placeholder = "Enter your email", @class = "form-control", @type = "email" })
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-secondary-email">Secondary Email</label>
                            @Html.TextBoxFor(l => l.ScondaryEmailAddress, new { @placeholder = "Enter your secondary email", @class = "form-control", @type = "email" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-phone-number">Phone Number</label>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <select name="Phone_number___Country_Code" class="form-control">
                                        @{
                                            List<Country> countries = ViewBag.Country;

                                            foreach (Country item in countries)
                                            {
                                                if (item.CountryCode != null)
                                                {
                                                    if (item.CountryCode.Equals(Model.Phone_number___Country_Code))
                                                    {
                                                        <option selected>@item.CountryCode</option>
                                                        continue;
                                                    }
                                                }
                                                <option>@item.CountryCode</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    @Html.TextBoxFor(l => l.Phone_number, new { @placeholder = "Enter your phone number", @class = "form-control", @pattern = "[0-9]{10}", @type = "tel" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="input-profile-picture">Profile Picture</label>
                            @if (Model.Profile_Picture != null)
                            {
                                @Html.HiddenFor(l => l.Profile_Picture)
                            }
                            @Html.TextBoxFor(l => l.ProfilePictureFile, new { @type = "file", @class = "form-control upload-picture" })
                            <h5 style="color:red; text-align:left;">@ViewBag.ErrorMsg</h5>
                        </div>
                    </div>

                    <button type="submit" class="btn submit-btn">Submit</button>
                </form>
            </div>


        </div>
    </div>
</div>